<div>
  <div>
    
    <h1 class="text-red-500">hey hey</h1>
  </div>
</div>



{% schema %}
{
  "name": "Ultimate Rich Text",
  "tag": "article",
  "class": "ultimate-rich-text",
  "settings": [
    {
      "type": "image_picker",
      "id": "background-img",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "text",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Heading Text"
        },
        {
          "type": "range",
          "id": "font-size",
          "label": "Font Size",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 20
        },
        {
          "type": "select",
          "id": "heading-alignments",
          "label": "Heading Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "Subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Subheading Text"
        },
        {
          "type": "range",
          "id": "font-size",
          "label": "Font Size",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 20
        },
        {
          "type": "select",
          "id": "subheading-alignments",
          "label": "Subheading Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "textarea",
      "name": "Description",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Description Text"
        },
        {
          "type": "range",
          "id": "font-size",
          "label": "Font Size",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 20
        },
        {
          "type": "select",
          "id": "description-alignments",
          "label": "Description Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button-alignments",
          "label": "Button Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "SocialMedia",
      "name": "Social Media",
      "settings": [
        {
          "type": "textarea",
          "id": "social_text",
          "label": "Social Media Text"
        },
        {
          "type": "url",
          "id": "facebook_link",
          "label": "Facebook Link"
        },
        {
          "type": "image_picker",
          "id": "facebook_icon",
          "label": "Facebook Icon"
        },
        {
          "type": "url",
          "id": "linkedin_link",
          "label": "LinkedIn Link"
        },
        {
          "type": "image_picker",
          "id": "linkedin_icon",
          "label": "LinkedIn Icon"
        },
        {
          "type": "url",
          "id": "instagram_link",
          "label": "Instagram Link"
        },
        {
          "type": "image_picker",
          "id": "instagram_icon",
          "label": "Instagram Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ultimate Rich Text",
      "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "text"
        },
        {
          "type": "Subheading"
        },
        {
          "type": "textarea"
        },
        {
          "type": "button"
        },
        {
          "type": "SocialMedia"
        }
      ]
    }
  ]
}
{% endschema %}